---

---

<!-- nombre
correo
edad
celular -->
<form class="form-register" aria-label="Formulário de Cadastro">
  <div class="inputs-group-container input-container-top">
    <div class="input-container">
      <label for="nome">Nome completo:</label>
      <input
        type="text"
        id="nome"
        name="nome"
        placeholder="Nombre completo"
        required
        autofocus
      />
    </div>
    <div class="input-container">
      <label for="email">Correo:</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="correo@email.com"
        required
      />
    </div>
  </div>

  <div class="inputs-group-container">
    <div class="input-container">
      <label for="senha">Edad:</label>
      <input
        type="number"
        id="senha"
        name="senha"
        placeholder="Edad"
        required
      />
    </div>

    <div class="input-container">
      <label for="confirmar">Telefono:</label>
      <input
        type="tel"
        id="confirmar"
        name="confirmar"
        placeholder="3008891234"
        required
      />
    </div>
  </div>

  <div class="button-container">
    <button type="submit" class="cs-btn button-inscription light"
    >Prueba Gratuita</button
  >
  </div>
</form>

<style>
  .form-register {
    position: relative;
    height: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin: 0 auto;
    /* padding: 1rem; */
    background-color: #f8fdfa;

    border: 0;
    border-radius: 22px;
    /* overflow: hidden; */
    --tw-shadow: 0 0 5px 0 rgba(78, 105, 105, 0.1),
      0 2px 7px 0 rgba(78, 105, 105, 0.1),
      0 4px 4px -2px rgba(78, 105, 105, 0.1);
    box-shadow: var(--tw-shadow);

    .inputs-group-container {
      padding: 0 1rem;
    }
    .inputs-group-container.input-container-top {
      padding-top: 1rem;
    }
    .inputs-group-container .input-container label {
      display: block;
      font-weight: bold;
      color: var(--bg-blue-700);
    }
    .inputs-group-container {
      display: flex;
      gap: 0.5rem;
    }
    .inputs-group-container .input-container input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      transition:
        border-color 0.3s ease,
        box-shadow 0.3s ease;
    }

    /* Feedback visual de validação */
    .inputs-group-container .input-container input:valid {
      border-color: #4caf50;
    }

    .inputs-group-container .input-container input:invalid {
      border-color: #e53935;
    }

    .inputs-group-container .input-container input:focus {
      outline: none;
      box-shadow: 0 0 5px #4a90e2;
      border-color: var(--bg-blue-400);
    }

    .button-container {
      padding: 0 1rem 1rem 1rem;

      .button-inscription {
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
      cursor: pointer;
      color: white;
      font-weight: 700;
      /* Estilos para el borde animado */
      background: rgb(58, 202, 255);
      background: linear-gradient(
        28deg,
        rgba(58, 202, 255, 0.7) 30%,
        rgba(128, 237, 153, 0.9) 100%
      );

      

      border: 3px solid #0000;
      background:
        linear-gradient(#3acaff) padding-box,
        linear-gradient(var(--angle), #fff 60%, rgb(80, 223, 114) 100%)
          border-box;
      animation: 3s rotate linear infinite;
      position: relative; /* Necesario para posicionar el pseudo-elemento */

      z-index: 1; /* Asegura que el botón esté por encima del contenedor */
    }
    /* Pseudo-elemento para el efecto shiner */
    .button-inscription::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2; /* Para que el shiner esté encima del fondo del botón pero debajo del texto si es necesario */

      /* Estilos del shiner */
      background: -moz-linear-gradient(
        -45deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 40%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(255, 255, 255, 0) 60%,
        rgba(255, 255, 255, 0) 100%
      );
      background: -webkit-gradient(
        linear,
        left top,
        right bottom,
        color-stop(0%, rgba(255, 255, 255, 0)),
        color-stop(40%, rgba(255, 255, 255, 0)),
        color-stop(50%, rgba(255, 255, 255, 0.8)),
        color-stop(60%, rgba(255, 255, 255, 0)),
        color-stop(100%, rgba(255, 255, 255, 0))
      );
      background: -webkit-linear-gradient(
        -45deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 40%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(255, 255, 255, 0) 60%,
        rgba(255, 255, 255, 0) 100%
      );
      background: -o-linear-gradient(
        -45deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 40%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(255, 255, 255, 0) 60%,
        rgba(255, 255, 255, 0) 100%
      );
      background: -ms-linear-gradient(
        -45deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 40%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(255, 255, 255, 0) 60%,
        rgba(255, 255, 255, 0) 100%
      );
      background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 40%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(255, 255, 255, 0) 60%,
        rgba(255, 255, 255, 0) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* Ajusta el filtro para la transparencia */

      background-repeat: no-repeat;
      background-position: -300px 0; /* Comienza el shiner fuera de la vista */
      background-size: 300%;
      animation:
        light 4s infinite alternate,
        shine-delay 4s forwards; /* Combinamos animaciones */
      /* Para controlar el retraso de inicio de la animación `light` */
      animation-delay: 0s, 2s; /* El primer valor es para `light`, el segundo para `shine-delay` */
      /* animation-iteration-count: infinite;  Ya incluido en la shorthand animation */
      /* animation-direction: alternate; Ya incluido en la shorthand animation */
    }
    }

    &::before {
      content: "";
      position: absolute;
      inset: -2px; /* más grande que el card */
      border-radius: 22px;
      background: linear-gradient(45deg, #77dbff, #ffffff, #ffffff, #88ffa4);
      filter: blur(22px);
      z-index: -1;
      opacity: 0.4;
      /* padding: 1rem; */
          z-index: -1;
    backdrop-filter: blur(15px);
    }

    &::after {
      position: absolute;
      content: "";
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 22px;
      border: 2.5px solid transparent;

      -webkit-mask:
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out;
      mask-composite: exclude;

      background: linear-gradient(
          45deg,
          #62d1f9,
          #ffffff,
          #ffffff,
          #ffffff,
          #ffffff,
          #82fd9f
        )
        border-box;
      /* z-index: -1; */
      /* padding: 1rem; */
    }
  }

  /* Responsividade */
  @media (max-width: 480px) {
    .form-register {
      font-size: 14px;
    }
  }
</style>
