---
import Divider from "@/components/Divider.astro";
import ModalPlatformInglesConversacional from "./components/ModalPlatformInglesConversacional.astro";
import ModalPlatformInglesNinos from "./components/ModalPlatformInglesNinos.astro";
import ModalPlatformVirtualEnglishWithLiveClasses from "./components/ModalPlatformVirtualEnglishWithLiveClasses.astro";
import ModalPlatformLiveEnglishWithNativeSpeakers from "./components/ModalPlatformLiveEnglishWithNativeSpeakers.astro";
import ModalPlatformOtherLanguages from "./components/ModalPlatformOtherLanguages.astro";
import ModalPlatformArts from "./components/ModalPlatformArts.astro";

const courses = [
  {
    id: 1,
    title: ["Inglés Conversacional"],
    icon: "/icons/icono-ingles-conversacional-up-optimizado.webp",
    modal: ModalPlatformInglesConversacional,
  },
  {
    id: 2,
    title: ["Inglés", "para Niños"],
    icon: "/icons/icono-ingles-conversacional-up-optimizado.webp",
    modal: ModalPlatformInglesNinos,
  },
  {
    id: 3,
    title: ["Inglés Virtual con Clases en Vivo"],
    icon: "/icons/icon-bilingual-comunity-up-optimizado.webp",
    modal: ModalPlatformVirtualEnglishWithLiveClasses,
  },
  {
    id: 4,
    title: ["Inglés en Vivo con Nativos"],
    icon: "/icons/icono-otros-idiomas-up-optimizado.webp",
    modal: ModalPlatformLiveEnglishWithNativeSpeakers,
  },
  {
    id: 5,
    title: ["Otros Idiomas"],
    icon: "/icons/icono-ingles-conversacional-up-optimizado.webp",
    modal: ModalPlatformOtherLanguages,
  },
  {
    id: 6,
    title: ["Artes"],
    icon: "/icons/icono-ingles-conversacional-up-optimizado.webp",
    modal: ModalPlatformArts,
  },
];
---

<section class="section-container get-in-to-section">
  <div class="title-container">
    <h2 class="title-section cs-text-3xl">Acceso a Cursos</h2>
    <Divider width="60px" />
  </div>

  <div class="shields-container">
    {
      courses.map(({ id, title, icon, modal: ModalComponent }) => (
        <>
          <div class="course-shield" id={`course-shield-${id}`}>
            <div class="shield-content">
              <img
                alt={`Icono curso ${title[0]}`}
                class="shield-icon"
                src={icon}
              />
              {title.map((line) => (
                <p>{line}</p>
              ))}
            </div>
          </div>
          <ModalComponent />
        </>
      ))
    }
  </div>
</section>

<style>
  .get-in-to-section {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 3.5rem 0;
    padding-top: 2rem;
    margin-top: var(--size-2);
    background-color: var(--bg-blue-700);

    > .title-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.2rem;

      > .title-section {
        font-weight: 600;
        color: white;
      }
    }

    > .shields-container {
      display: flex;
      gap: 3rem;
      flex-wrap: wrap;
      justify-content: center;

      > .course-shield {
        position: relative;
        width: 12rem;
        height: 12rem;
        background-image: url("/shield-image.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        filter: blur(0.5px) saturate(1.8);
        transition: filter 0.3s ease-in-out;

        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        > .shield-content {
          position: relative;
          width: 100%;
          height: 100%;

          z-index: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: start;
          text-align: center;
          padding-top: 1rem;

          > p {
            font-size: 1.2rem;
            font-weight: 700;
            color: white;
            line-height: 1.1;
            text-align: center;
            text-wrap: balance;
            text-shadow: -1.5px -1.5px 0 black, 1.5px -1.5px 0 black, -1.5px 1.5px 0 black, 1.5px 1.5px 0 black;
          }

          > .shield-icon {
            width: 35%;
            aspect-ratio: 1/1 !important;
            margin-bottom: 1.5rem;
          }
        }

        &::before {
          background-image: url("/shield-image-2.png");
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          position: absolute;
          content: "";
          filter: blur(0px) saturate(1.5);
          width: 100%;
          height: 100%;
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          inset: 2rem;
          filter: blur(25px);
          background: linear-gradient(
            45deg,
            #77dbffcc,
            #ffffff4f,
            #ffffff4f,
            #88ffa4cc
          );
          z-index: -1;
          transition: filter 0.3s ease-in-out;
        }

        &:hover {
          filter: blur(0.5px) saturate(3.5);
          transform: scale(1.05);

          &::before {
            filter: blur(30px) saturate(4);
          }

          &::after {
            filter: blur(45px);
            
          }
        }
      }
    }
  }

  @media (width <= 480px) {
    .get-in-to-section {
      > .shields-container {
        gap: 1.5rem;
        > .course-shield {
          width: 12rem;
          height: 8.5rem;

          > .shield-content {
            padding: 1rem 6px;
            > p {
              font-size: 0.8rem;
              width: 80%;
            }
            > .shield-icon {
              padding-top: 0rem;
              width: 30%;
              margin-bottom: 0.5rem;
            }
          }
        }
      }
    }
  }
</style>
