---
import { get_data_slider_graduations } from "@/utils/wp";
import GradationsSlider from "./components/GradationsSlider.astro";

const graduations = await get_data_slider_graduations();

---

<section class="section-container graduations-slider-section">
  <GradationsSlider graduations={graduations} />
</section>


