<section class="graduations-slider-section">
  <div class="swiper swiper-graduations">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <h2 class="cs-text-2xl">Promoción 2022</h2>
        <div class="vento-grid-images-graduations-container">
          <div id="vento-grid-image-item-0" class="grid-item-vertical">
            <img
              src="https://st2.depositphotos.com/15601592/47697/i/1600/depositphotos_476977196-stock-photo-vertical-full-length-view-diverse.jpg"
            />
          </div>
          <div id="vento-grid-image-item-1" class="grid-item-horizontal">
            <img
              src="https://business.uonbi.ac.ke/sites/default/files/2024-09/UoN-71-graduation-slider2.jpg"
            />
          </div>
          <div id="vento-grid-image-item-2" class="grid-item-horizontal">
            <img
              src="https://bpb-us-e2.wpmucdn.com/sites.utdallas.edu/dist/8/1514/files/2024/09/AUC-13.jpg"
            />
          </div>
          <div id="vento-grid-image-item-3" class="grid-item-horizontal">
            <img
              src="https://images.squarespace-cdn.com/content/v1/5fc463b9df132613bbd422a5/1607556474389-XW6KR2XHAYBCUINGYBZM/Graduations+Now+Blog+Graduation+day+Why+is+it+such+a+big+deal.jpg"
            />
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <h2 class="cs-text-2xl">Promoción 2023</h2>
        <div class="vento-grid-images-graduations-container">
          <div id="vento-grid-image-item-0" class="grid-item-vertical">
            <img
              src="https://st2.depositphotos.com/15601592/47697/i/1600/depositphotos_476977196-stock-photo-vertical-full-length-view-diverse.jpg"
            />
          </div>
          <div id="vento-grid-image-item-1" class="grid-item-horizontal">
            <img
              src="https://business.uonbi.ac.ke/sites/default/files/2024-09/UoN-71-graduation-slider2.jpg"
            />
          </div>
          <div id="vento-grid-image-item-2" class="grid-item-horizontal">
            <img
              src="https://bpb-us-e2.wpmucdn.com/sites.utdallas.edu/dist/8/1514/files/2024/09/AUC-13.jpg"
            />
          </div>
          <div id="vento-grid-image-item-3" class="grid-item-horizontal">
            <img
              src="https://images.squarespace-cdn.com/content/v1/5fc463b9df132613bbd422a5/1607556474389-XW6KR2XHAYBCUINGYBZM/Graduations+Now+Blog+Graduation+day+Why+is+it+such+a+big+deal.jpg"
            />
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <h2 class="cs-text-2xl">Promoción 2024</h2>
        <div class="vento-grid-images-graduations-container">
          <div id="vento-grid-image-item-0" class="grid-item-vertical">
            <img
              src="https://st2.depositphotos.com/15601592/47697/i/1600/depositphotos_476977196-stock-photo-vertical-full-length-view-diverse.jpg"
            />
          </div>
          <div id="vento-grid-image-item-1" class="grid-item-horizontal">
            <img
              src="https://business.uonbi.ac.ke/sites/default/files/2024-09/UoN-71-graduation-slider2.jpg"
            />
          </div>
          <div id="vento-grid-image-item-2" class="grid-item-horizontal">
            <img
              src="https://bpb-us-e2.wpmucdn.com/sites.utdallas.edu/dist/8/1514/files/2024/09/AUC-13.jpg"
            />
          </div>
          <div id="vento-grid-image-item-3" class="grid-item-horizontal">
            <img
              src="https://images.squarespace-cdn.com/content/v1/5fc463b9df132613bbd422a5/1607556474389-XW6KR2XHAYBCUINGYBZM/Graduations+Now+Blog+Graduation+day+Why+is+it+such+a+big+deal.jpg"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</section>

<style>
  .graduations-slider-section {
    max-width: 90ch;
    margin: 0 auto;
    margin-bottom: var(--size-2);;
  }
  .vento-grid-images-graduations-container {
    width: 100%;
    height: 65vh;
    display: grid;

    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

    gap: 0.5rem;

    & div {
      overflow: hidden;
      border-radius: 22px;
      /* background-color: red; */
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  #vento-grid-image-item-0 {
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 5;
    grid-column-end: 3;
  }
  #vento-grid-image-item-1 {
    grid-row-start: 1;
    grid-column-start: 3;

    grid-row-end: 3;
    grid-column-end: 7;
  }
  #vento-grid-image-item-2 {
    grid-row-start: 3;
    grid-column-start: 3;

    grid-row-end: 5;
    grid-column-end: 5;
  }
  #vento-grid-image-item-3 {
    grid-row-start: 3;
    grid-column-start: 5;

    grid-row-end: 5;
    grid-column-end: 7;
  }
</style>

<!-- Initialize Swiper -->
<script>
  // Core de Swiper y estilos
  import Swiper from "swiper";
  import "swiper/css";
  // Módulo Navigation de Swiper y estilos
  import { Navigation, Pagination } from "swiper/modules";
  import "swiper/css/navigation";
  import "swiper/css/pagination";

  var swiper = new Swiper(".swiper-graduations", {
    modules: [Navigation, Pagination],
    loop: true, // definir si los slides estarán en bucle
    centeredSlides: true,
    slidesPerView: 1,
    spaceBetween: 40,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
