---
import Divider from "@/components/Divider.astro";
---

<section class="section-container graduations-slider-section">
  <div class="swiper-container">
    <div class="swiper swiper-graduations">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="title-container">
            <h2 class="cs-text-3xl">Promoción 2024</h2>
            <Divider width="120px" />
          </div>
          <div class="vento-grid-images-graduations-container">
            <div id="vento-grid-image-item-0" class="grid-item-vertical">
              <img src="/promociones/2024promocion2.jpeg" />
            </div>
            <div id="vento-grid-image-item-1" class="grid-item-horizontal">
              <img src="/promociones/2024promocion1.jpeg" />
            </div>
            <div id="vento-grid-image-item-2" class="grid-item-horizontal">
              <img src="/promociones/2024promocion3.jpeg" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="title-container">
            <h2 class="cs-text-3xl">Promoción 2023</h2>
            <Divider width="120px" />
          </div>
          <div class="vento-grid-images-graduations-container">
            <div id="vento-grid-image-item-0" class="grid-item-vertical">
              <img src="promociones/2023promocion3.jpg" />
            </div>
            <div id="vento-grid-image-item-1" class="grid-item-horizontal">
              <img src="promociones/2023promocion2.jpg" />
            </div>
            <div id="vento-grid-image-item-2" class="grid-item-horizontal">
              <img src="promociones/2023promocion1.jpg" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="title-container">
            <h2 class="cs-text-3xl">Promoción 2022 - 2021 - 2020</h2>
            <Divider width="220px" />
          </div>
          <div class="vento-grid-images-graduations-container">
            <div id="vento-grid-image-item-0" class="grid-item-vertical">
              <img src="promociones/2021promocion2.jpeg" />
            </div>
            <div id="vento-grid-image-item-1" class="grid-item-horizontal">
              <img src="promociones/2022promocion3.jpeg" />
            </div>
            <div id="vento-grid-image-item-2" class="grid-item-horizontal">
              <img src="promociones/2020promocion1.JPG" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="title-container">
            <h2 class="cs-text-3xl">Promoción 2012 - 2015 - 2017</h2>
            <Divider width="220px" />
          </div>
          <div class="vento-grid-images-graduations-container">
            <div id="vento-grid-image-item-0" class="grid-item-vertical">
              <img src="promociones/2012promocion1.JPG" />
            </div>
            <div id="vento-grid-image-item-1" class="grid-item-horizontal">
              <img src="promociones/2015promocion2.jpeg" />
            </div>
            <div id="vento-grid-image-item-2" class="grid-item-horizontal">
              <img src="promociones/2017promocion1.JPG" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="title-container">
            <h2 class="cs-text-3xl">Promoción 2009 - 2010 - 2011</h2>
            <Divider width="220px" />
          </div>
          <div class="vento-grid-images-graduations-container">
            <div id="vento-grid-image-item-0" class="grid-item-vertical">
              <img src="promociones/2011promocion2.jpg" />
            </div>
            <div id="vento-grid-image-item-1" class="grid-item-horizontal">
              <img src="promociones/2010promocion1.jpg" />
            </div>
            <div id="vento-grid-image-item-2" class="grid-item-horizontal">
              <img src="promociones/2009promocion1.jpeg" />
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <div class="swiper-button-next swiper-button-next-graduations"></div>
    <div class="swiper-button-prev swiper-button-prev-graduations"></div>
  </div>
</section>

<style>

  .graduations-slider-section, .swiper-container {
    width: 60vw;
  }
  .title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 0.4rem;
    margin-bottom: 1rem;
    > h2 {
      font-weight: 700;
    }
  }
  .vento-grid-images-graduations-container {
    width: 100%;
    height: 65vh;
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 1.5rem;

    & div {
      overflow: hidden;
      border-radius: 22px;
      /* background-color: red; */
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  #vento-grid-image-item-0 {
    grid-row: span 10 / span 10;
  }
  #vento-grid-image-item-1 {
    grid-row: span 5 / span 5;
  }
  #vento-grid-image-item-2 {
    grid-row: span 5 / span 5;
    grid-column-start: 2;
    grid-row-start: 6;
  }

  @media (width <= 800px) {
    .vento-grid-images-graduations-container {
      height: 50vh;
    }
  }

  @media (width <= 500px) {
    .graduations-slider-section {
      width: 95%;
    }
    .vento-grid-images-graduations-container {
      height: 35vh;
    }
  }
</style>

<!-- Initialize Swiper -->
<script>
  // Core de Swiper y estilos
  import Swiper from "swiper";
  import "swiper/css";
  // Módulo Navigation de Swiper y estilos
  import { Autoplay, Navigation, Pagination } from "swiper/modules";
  import "swiper/css/navigation";
  import "swiper/css/pagination";

  var swiper_graduations = new Swiper(".swiper-graduations", {
    modules: [Autoplay, Navigation, Pagination],
    loop: true,
    centeredSlides: true,
    slidesPerView: 1,
    spaceBetween: 40,
    navigation: {
      nextEl: ".swiper-button-next-graduations",
      prevEl: ".swiper-button-prev-graduations",
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    autoplay: {
      delay: 2500,
      disableOnInteraction: true,
      pauseOnMouseEnter: true,
    },
  });
</script>
