---
import CardImageHorizontal from "@/components/CardImageHorizontal.astro";
import SliderVideoHome from "./components/SliderVideoHome.astro";
import WhatsappIcon from "@/components/icons/WhatsappIcon.astro";
import ModalInglesConversacional from "./components/ModalInglesConversacional.astro";
import ModalInglesForKids from "./components/ModalInglesForKids.astro";
import ModalVirtualEnglishWithLiveClasses from "./components/ModalVirtualEnglishWithLiveClasses.astro";
import ModalLiveEnglishWithNativeSpeakers from "./components/ModalLiveEnglishWithNativeSpeakers.astro";
import ModalOtherLanguages from "./components/ModalOtherLanguages.astro";
---

<section class="hero-section">
  <div class="all-courses-container">
    <h1 class="title cs-text-3xl cs-bold">Encuentra tu curso ideal</h1>

    <div class="content-courses-info">
      <div class="cards-container">
        <div>
          <CardImageHorizontal
            urlImage="/icons/icono-ingles-conversacional-up-optimizado.webp"
            title="Ingles conversacional"
            id="card-ingles-conversacional"
          />
          <ModalInglesConversacional />
          <CardImageHorizontal
            urlImage="/icons/icono-ingles-para-ninos-up-optimizado.webp"
            title="Ingles para niños"
            id="card-ingles-for-kids"
          />
          <ModalInglesForKids />
          <CardImageHorizontal
            urlImage="https://cdn-icons-png.flaticon.com/512/5388/5388630.png"
            title="Ingles virtual con clases en vivo"
            id="card-virtual-english-with-live-classes"
          />
          <ModalVirtualEnglishWithLiveClasses />
        </div>
        <div>
          <CardImageHorizontal
            urlImage="/icons/icon-bilingual-comunity-up-optimizado.webp"
            title="Inglés en vivo con nativos."
            id="card-live-english-with-native-speakers"
          />
          <ModalLiveEnglishWithNativeSpeakers />
          <CardImageHorizontal
            urlImage="/icons/icono-otros-idiomas-up-optimizado.webp"
            title="Otros idiomas"
            id="card-other-languages"
          />
          <ModalOtherLanguages />
          <CardImageHorizontal
            urlImage="/icons/icono-otros-idiomas-up-optimizado.webp"
            title="Otros idiomas"
          />
        </div>
      </div>

      <div>
        <a
          class="cs-btn cs-bg-green-wh cs-color-white"
          href="https://wa.me/573116771698?text=Hola,%20estoy%20interesado%20en..."
          target="_blank"
        >
          whatsapp <WhatsappIcon className="whatsapp-icon" /></a
        >
      </div>
    </div>
  </div>

  <div class="slider-video-container">
    <SliderVideoHome />
  </div>
</section>

<style>
  .hero-section {
    display: flex;
    gap: 2rem;
    max-width: 150ch;
    margin: 0 auto;
    margin-bottom: var(--size-2);
    /* background-color: red; */
  }

  .all-courses-container {
    width: 60%;
    display: flex;
    height: fit-content;
    gap: 1rem;
    flex-direction: column;
    justify-items: start;
    padding-top: 3rem;

    & .title {
      font-family: "Nista", "Times New Roman", Times, serif;
      font-weight: 900;
    }
    & span {
      margin-bottom: -0.8rem;
      font-family: "Nista", "Times New Roman", Times, serif;
      font-weight: 900;
    }
    & p {
      font-weight: 500;
    }
    & .content-courses-info {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      & .cards-container {
        display: flex;
        gap: 1rem;
      }
    }
  }

  .slider-video-container {
    width: 40%;
  }

  .whatsapp-icon {
  }
</style>
