---
import CardImageHorizontal from "@/components/CardImageHorizontal.astro";
import SliderVideoHome from "./components/SliderVideoHome.astro";
import WhatsappIcon from "@/components/icons/WhatsappIcon.astro";
---

<section class="hero-section">
  <div class="all-courses-container">
    <h1 class="title cs-text-4xl cs-bold">Encuentra tu curso ideal</h1>

    <div class="content-courses-info">
      <div class="cards-container">
        <div>
          <CardImageHorizontal
            urlImage="/icons/icono-ingles-conversacional-up-optimizado.webp"
            title="Ingles conversacional"
          />
          <CardImageHorizontal
            urlImage="/icons/icono-ingles-para-ninos-up-optimizado.webp"
            title="Ingles para niños"
          />
          <CardImageHorizontal
            urlImage="https://cdn-icons-png.flaticon.com/512/5388/5388630.png"
            title="Ingles virtual con clases en vivo"
          />
        </div>
        <div>
          <CardImageHorizontal
            urlImage="/icons/icon-bilingual-comunity-up-optimizado.webp"
            title="Frances conversacional"
          />
          <CardImageHorizontal
            urlImage="/icons/icono-otros-idiomas-up-optimizado.webp"
            title="Conversación con nativos"
          />
          <CardImageHorizontal
            urlImage="/icons/icono-otros-idiomas-up-optimizado.webp"
            title="Otros idiomas"
          />
        </div>
      </div>

      <div>
        <a class="cs-btn cs-bg-green-wh cs-color-white" href="#"
          > whatsapp <WhatsappIcon className="whatsapp-icon" /></a
        >
      </div>
    </div>
  </div>

  <div class="slider-video-container">
    <SliderVideoHome />
  </div>
</section>

<style>
  .hero-section {
    display: flex;
    gap: 2rem;
    max-width: 150ch;
    margin: 0 auto;
    margin-bottom: var(--size-2);
    /* background-color: red; */
  }

  .all-courses-container {
    width: 60%;
    display: flex;
    height: fit-content;
    gap: 1rem;
    flex-direction: column;
    justify-items: start;
    padding-top: 3rem;

    & .title {
      font-family: "Nista", "Times New Roman", Times, serif;
      font-weight: 900;
    }
    & span {
      margin-bottom: -0.8rem;
      font-family: "Nista", "Times New Roman", Times, serif;
      font-weight: 900;
    }
    & p {
      font-weight: 500;
    }
    & .content-courses-info {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      & .cards-container {
        display: flex;
        gap: 1rem;
      }
    }
  }

  .slider-video-container {
    width: 40%;
  }

  .whatsapp-icon {

  }
</style>
