---
import CardImageHorizontal from "@/components/CardImageHorizontal.astro";
import SliderVideo from "./components/SliderVideo.astro";
import Modal from "@/components/Modal.astro";
---

<section class="hero-section">
  <div class="all-courses-container">
    <h1 class="title cs-text-6xl cs-bold">Encuentra tu curso</h1>

    <p class="cs-text-xl">
      Berlitz ofrece una variedad de cursos de idiomas y cultura para adultos,
      niños y adolescentes, empresas y más.
    </p>
    <p class="cs-text-xl">
      Elija entre las opciones a continuación para encontrar su curso ideal y
      comience a progresar con nosotros.
    </p>

    <Modal id="modal" buttonText="Ver">
      <div class="modal-content-courses-info">
        <div>
          <CardImageHorizontal
            urlImage="https://cdn-icons-png.flaticon.com/512/5388/5388630.png"
            title="Ingles Conversacional"
            classCardContainer="modal-exit-btn"
          />
          <CardImageHorizontal
            urlImage="https://cdn-icons-png.flaticon.com/512/5388/5388630.png"
            title="Ingles Conversacional"
            classCardContainer="modal-exit-btn"
          />
          <CardImageHorizontal
            urlImage="https://cdn-icons-png.flaticon.com/512/5388/5388630.png"
            title="Ingles Conversacional"
            classCardContainer="modal-exit-btn"
          />
        </div>
        <div>
          <CardImageHorizontal
            urlImage="https://cdn-icons-png.flaticon.com/512/5388/5388630.png"
            title="Ingles Conversacional"
            classCardContainer="modal-exit-btn"
          />
          <CardImageHorizontal
            urlImage="https://cdn-icons-png.flaticon.com/512/5388/5388630.png"
            title="Ingles Conversacional"
            classCardContainer="modal-exit-btn"
          />
          <CardImageHorizontal
            urlImage="https://cdn-icons-png.flaticon.com/512/5388/5388630.png"
            title="Ingles Conversacional"
            classCardContainer="modal-exit-btn"
          />
        </div>
      </div>
    </Modal>
  </div>

  <SliderVideo />
</section>

<style>
  .hero-section {
    display: flex;
    gap: 2rem;
    max-width: 150ch;
    margin: 0 auto;
    margin-bottom: 500px;
  }

  .all-courses-container {
    width: 60%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-items: start;
    padding-top: 3rem;

    .title {
      margin-bottom: 0.8rem;
      font-family: "Nista", "Times New Roman", Times, serif;
      font-weight: 900;
    }

    p {
      font-weight: 500;
    }

    .modal-content-courses-info {
      display: flex;
      gap: 1rem;

      div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    }
  }
</style>
