---
import CardImageHorizontal from "@/components/CardImageHorizontal.astro";
import SliderVideoHome from "./components/SliderVideoHome.astro";
import Divider from "@/components/Divider.astro";
import ModalInglesConversacional from "@/components/heroSection/ModalInglesConversacional.astro";
import ModalInglesForKids from "@/components/heroSection/ModalInglesForKids.astro";
import ModalVirtualEnglishWithLiveClasses from "@/components/heroSection/ModalVirtualEnglishWithLiveClasses.astro";
import ModalLiveEnglishWithNativeSpeakers from "@/components/heroSection/ModalLiveEnglishWithNativeSpeakers.astro";
import ModalOtherLanguages from "@/components/heroSection/ModalOtherLanguages.astro";
import ModalArts from "@/components/heroSection/ModalArts.astro";
import FormRegister from "@/components/FormRegister.astro";
---

<section class="section-container hero-section">
  <div class="all-courses-container">
    <div class="title-container">
      <h1 class="title cs-text-3xl cs-bold">Cursos</h1>
      <Divider width="6rem" />
    </div>

    <div class="content-courses-info">
      <div class="cards-container">
        <div class="cards-column-container">
          <CardImageHorizontal
            urlImage="/icons/icono-ingles-conversacional-up-optimizado.webp"
            title="Inglés Conversacional"
            id="card-ingles-conversacional"
          />
          <ModalInglesConversacional />
          <CardImageHorizontal
            urlImage="/icons/icono-ingles-para-ninos-up-optimizado.webp"
            title="Inglés para Niños"
            id="card-ingles-for-kids"
          />
          <ModalInglesForKids />
          <CardImageHorizontal
            urlImage="/icons/icon-ingles-virtual-en-vivo.png"
            title="Inglés Virtual con Clases en Vivo"
            id="card-virtual-english-with-live-classes"
          />
          <ModalVirtualEnglishWithLiveClasses />
        </div>
        <div class="cards-column-container">
          <CardImageHorizontal
            urlImage="/icons/icon-bilingual-comunity-up-optimizado.webp"
            title="Inglés en Vivo con Nativos"
            id="card-live-english-with-native-speakers"
          />
          <ModalLiveEnglishWithNativeSpeakers />
          <CardImageHorizontal
            urlImage="/icons/icono-otros-idiomas-up-optimizado.webp"
            title="Otros Idiomas"
            id="card-other-languages"
          />
          <ModalOtherLanguages />
          <CardImageHorizontal
            urlImage="/icons/icon-arts.png"
            title="Artes"
            id="card-arts"
          />
          <ModalArts />
        </div>
      </div>
    </div>
  </div>

  <div class="container-data-hero">
    <div class="slider-video-container">
      <SliderVideoHome />
    </div>

    <div class="form-container">
      <FormRegister columnMode="two-col" prefix="hero-form" />
    </div>
  </div>
</section>

<style>
  .hero-section {
    margin-top: 0rem;
    margin-bottom: 5rem;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    > .all-courses-container {
      width: 37%;
      display: flex;
      height: fit-content;
      gap: 1rem;
      flex-direction: column;
      justify-items: start;

      > .title-container {
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0.2rem;
        > .title {
        }
      }
      > span {
        margin-bottom: -0.8rem;
        font-weight: 900;
      }
      > p {
        font-weight: 500;
      }
      > .content-courses-info {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        > .cards-container {
          display: flex;
          gap: 1rem;
          justify-content: start;
          align-items: center;
          > .cards-column-container {
            display: flex;
            flex-direction: column;
            gap: 1rem;
          }
        }
        > .buttons-call-to-action-container {
          display: flex;
          gap: 1rem;
        }
      }
    }
    .container-data-hero {
      width: 63%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5rem;

      .slider-video-container {
        margin: 0 auto;
        width: 44.5%;
      }

      .form-container {
        width: 55.5%;
        height: 100%;
      }
    }
  }

  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }

  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

  /* Keyframes para el efecto shiner */
  @keyframes light {
    0% {
      background-position: -600px 0;
    }
    100% {
      background-position: 600px 0; /* Ajustado para que el brillo atraviese completamente el botón */
    }
  }

  /* Un keyframe para controlar el delay de la animación light, si quieres que inicie con un delay */
  @keyframes shine-delay {
    0% {
      opacity: 0; /* Invisible al principio */
    }
    99% {
      opacity: 0; /* Mantiene la invisibilidad casi hasta el final del retraso */
    }
    100% {
      opacity: 1; /* Se vuelve visible justo antes de que `light` empiece */
    }
  }

  @media (width < 1080px) {
    .hero-section {
      gap: 0;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      width: 95vw;
      margin-bottom: 2rem;
    }
  }
  @media (width <= 800px) {
    .hero-section {
      gap: 1rem;
      flex-direction: column;
      > .all-courses-container {
        width: 100%;
        align-items: center;
        > .title-container {
          align-items: center;
          justify-content: center;
          > .title {
            text-align: center;
          }
        }
        > .content-courses-info {
          gap: 1rem;
          & .cards-container {
            justify-content: center;
            align-items: center;
          }
        }
      }
      .container-data-hero {
        width: 100%;
        flex-direction: column-reverse;
        .slider-video-container {
          width: 90%;
        }

        .form-container {
          width: 90%;
        }
      }
    }
  }

  @media (width <= 576px) {
    .hero-section {
      gap: 2rem;
      > .all-courses-container {
        > .title-container {
          > .title {
          }
        }
        > .content-courses-info {
          gap: 2rem;
          & .cards-container {
            > .cards-column-container {
              gap: 2rem;
            }
          }
          > .buttons-call-to-action-container {
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
</style>
