---
import SliderHighlights from "./components/SliderHighlights.astro";


---

<section class="section-container highlights-section">
  <SliderHighlights />
</section>

<style>
  .highlights-section {
    gap: 0.5rem;
    height: 40vh;
    padding: 0.5rem;
  }

  @media (width <= 1600px){
    .highlights-section {
      width: 100%;
      height: 40vh;
    }
  }

  @media (width <= 800px){
    .highlights-section {
      width: 100%;
      height: 25vh;
    }
  }
</style>
