---
import SliderHighlights from "./components/SliderHighlights.astro";


---

<section class="highlights-section">
  <SliderHighlights />
</section>

<style>
  .highlights-section {
    max-width: 150ch;
    margin: 0 auto;
    margin-bottom: 5rem;
    display: flex;
    gap: 0.5rem;
    height: 40vh;

    padding: 0.5rem;
  }
</style>
