<section class="testimonies-section">
  <div class="swiper-container">
    <!-- Contenedor principal de Swiper -->
    <div class="swiper testimonies-slider">
      <!-- Wrapper adicional requerido -->
      <div class="swiper-wrapper">
        <!-- Los slides -->
        <div class="swiper-slide">
          <video controls>
            <source
              src="/videos/vertical-01-nino-optimizado.mp4"
              type="video/mp4"
            />
          </video>
        </div>
        <div class="swiper-slide">
          <video controls>
            <source
              src="/videos/vertical-02-mujer-optimizado.mp4"
              type="video/mp4"
            />
          </video>
        </div>
        <div class="swiper-slide">
          <video controls>
            <source
              src="/videos/vertical-03-escalera-optimizado.mp4"
              type="video/mp4"
            />
          </video>
        </div>
        <div class="swiper-slide">
          <video controls>
            <source
              src="/videos/vertical-01-nino-optimizado.mp4"
              type="video/mp4"
            />
          </video>
        </div>
        <div class="swiper-slide">
          <video controls>
            <source
              src="/videos/vertical-03-escalera-optimizado.mp4"
              type="video/mp4"
            />
          </video>
        </div>
      </div>
      <!-- Botones de navegación -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>

<style>
  .swiper-container {
    width: 40%;
    margin: 0 auto;
  }
  .swiper {
    margin-top: 2rem;
    width: 600px;
  }
  .swiper-wrapper {
    display: flex;
  }
  .swiper-slide {
    border-radius: 22px;
    overflow: hidden;
  }
  .swiper-slide video {
    height: 300px;
    object-fit: cover;
    border-radius: 22px;
    aspect-ratio: 9 / 16 !important;
  }

  .swiper-button-prev,
  .swiper-button-next {
    height: 110%;
    width: 3rem;
    width: 40%;
    background: var(--bg-white);
    background-color: red;
  }
  .swiper-button-prev {
    transform: translate(-10%, -50%);
    background: rgb(255,255,255);
background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5690651260504201) 23%, rgba(255,255,255,1) 64%, rgba(255,255,255,1) 100%);  
  }
  .swiper-button-next {
    transform: translate(10%, -50%);
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5690651260504201) 23%, rgba(255,255,255,1) 64%, rgba(255,255,255,1) 100%);  
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    padding: 1rem 1.2rem;
    font-size: 1.8rem;
    color: var(--color-blue-700);
    font-weight: 900;

    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .swiper-button-prev::after {
    margin-right: -1.5rem;
  }
  .swiper-button-next::after {
    margin-left: -1.5rem;
  }
</style>

<script>
  // Core de Swiper y estilos
  import Swiper from "swiper";
  import "swiper/css";
  // Módulo Navigation de Swiper y estilos
  import { Navigation, EffectCoverflow } from "swiper/modules";
  import "swiper/css/navigation";
  import "swiper/css/effect-coverflow";

  // Configurar Swiper
  const swiper = new Swiper(".testimonies-slider", {
    modules: [Navigation, EffectCoverflow], // definir los módulos a usar
    effect: "coverflow",
    loop: true, // definir si los slides estarán en bucle
    centeredSlides: true,
    slidesPerView: 3, // agregar número de slides para la pantalla
    spaceBetween: 40, // separación entre slides en px
    coverflowEffect: {
      rotate: 0,
      stretch: 0,
      depth: 100,
      modifier: 1.5,
      slideShadows: true,
    },
    navigation: {
      // definir botones next y prev para el módulo Navigation
      prevEl: ".swiper-button-prev",
      nextEl: ".swiper-button-next",
    },
  });
</script>

<!-- <script>
  // Core de Swiper y estilos
  import Swiper from "swiper";
  import "swiper/css";
  // Módulo Navigation de Swiper y estilos
  import { EffectCoverflow, Navigation, Pagination } from "swiper/modules";
  import "swiper/css/navigation";
  import "swiper/css/effect-coverflow";
  import "swiper/css/pagination";

  // Configurar Swiper
  let swiper = new Swiper(".swiper", {
    modules: [EffectCoverflow],
    effect: "coverflow",
    grabCursor: true,
    centeredSlides: true,
    slidesPerView: 3,
    coverflowEffect: {
      rotate: 50,
      stretch: 0,
      depth: 100,
      modifier: 1,
      slideShadows: true,
    },
    pagination: {
      el: ".swiper-pagination",
    },
  });
</script> -->
