@media screen and (width > 2000px) {
  :root {
    font-size: 19px;
  }
}
@media screen and (width <= 2000px) {
  :root {
    font-size: 16px;
  }
}
@media screen and (width <= 1600px) {
  :root {
    font-size: 14px;
  }
}
@media screen and (width <= 800px) {
  :root {
    font-size: 12px;
  }
}
@media screen and (width <= 576px) {
  :root {
    font-size: 11px;
  }
}
@media screen and (width <= 480px) {
  :root {
    font-size: 10px;
  }
}

body {
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* width: 70%;
  height: 70%; */
  z-index: -99;
  /* background-image: radial-gradient(
    circle at top center,
    rgba(128, 237, 153, 0.25),
    transparent 90%
  );*/
  /* 
  
  background-color: hsla(0, 0%, 100%, 1);
  background-image: radial-gradient(
      at 23% 29%,
      #80ed99,
      transparent 30%
    ),
    radial-gradient(
      at 75% 29%,
      #80ed99,
      transparent 15%
    ),
    radial-gradient(at 76% 51%, #3acaff, transparent 30%),
    radial-gradient(at 23% 100%, #3acaff, transparent 15%); */

  /* inset: 0;
  background-image: radial-gradient(
    125% 125% at 50% 90%,
    #ffffff 30%,
    #8ee7c9 100%
  );
  background-size: 100% 100%; */

  /* background-color: #ffffff;
  background-image: radial-gradient(
    circle at top right,
    rgba(56, 193, 182, 0.5),
    transparent 70%
  ); */
  /* background-color: rgb(22, 23, 25); */
  background-repeat: no-repeat;
  pointer-events: none;

  /* filter: blur(150px);  */
}
@media (width <= 576px) {
  body::before {
    width: 70%;
    height: 90%;
    left: 15%;
  }
}

.section-container {
  display: flex;
  gap: 2rem;
  width: 85vw;
  margin: 0 auto;
  margin-bottom: var(--size-6);
}

.swiper:hover {
  scale: 1.005;
  filter: brightness(1.05) contrast(1.05);
}
.swiper-button-prev::after,
.swiper-button-next::after {
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  padding: 1rem 1.2rem;
  font-size: 2rem !important;
  color: var(--color-blue-700);
  font-weight: 900;

  background: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(15px);
}
.swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
  background: rgba(255, 255, 255, 0.8);  
  transform: scale(1.09);
}

.swiper-button-prev::after {
  margin-right: -1.5rem;
}
.swiper-button-next::after {
  margin-left: -1.5rem;
}

.swiper-pagination {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(15px);
  width: fit-content !important;
  padding: 0.5rem 1rem;
  border-radius: 22px;
  margin: 0 auto !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

.swiper-pagination-bullet {
  background: var(--color-blue-700) !important;
  width: 0.6rem !important;
  height: 0.6rem !important;
  margin: 0 8px !important;
  transition: background-color 0.5s, transform 0.3s !important;
  opacity: 0.5 !important;
}

.swiper-pagination-bullet-active {
  background: linear-gradient(
    135deg,
    var(--bg-blue-400),
    var(--bg-green-400)
  ) !important;
  opacity: 1 !important;
  transform: scale(1.6) !important;
  border: 1px solid rgb(52, 53, 61);
}
