@media screen and (width > 2000px) {
  :root {
    font-size: 19px;
  }
}
@media screen and (width <= 2000px) {
  :root {
    font-size: 16px;
  }
}
@media screen and (width <= 1600px) {
  :root {
    font-size: 14px;
  }
}
@media screen and (width <= 768px) {
  :root {
    font-size: 13px;
  }
}
@media screen and (width <= 576px) {
  :root {
    font-size: 12px;
  }
}
@media screen and (width <= 480px) {
  :root {
    font-size: 10px;
  }
}

.section-container {
  display: flex;
  gap: 2rem;
  max-width: 85vw;
  margin: 0 auto;
  margin-bottom: var(--size-3);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  padding: 1rem 1.2rem;
  font-size: 2rem !important;
  color: var(--color-blue-700);
  font-weight: 900;

  background: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.swiper-button-prev::after {
  margin-right: -1.5rem;
}
.swiper-button-next::after {
  margin-left: -1.5rem;
}
