:root {
  /**************************************************************************/
  /************************** BACKGROUNS ************************************/
  --bg-white: white;
  --bg-white-100: #f5fbff;

  --bg-blue-400: #3acaff;
  --bg-blue-600: #414c6d;
  --bg-blue-700: #0f1734;

  --bg-green-400: #80ed99;
  --bg-green-700: #318545;

  /**************************************************************************/
  /************************** COLORS ****************************************/
  --color-blue-600: #5f6a8d;
  --color-blue-700: #0f1734;

  /**************************************************************************/
  /************************** SIZES *****************************************/
  --size-px: 1px;
  --size-px2: calc(1rem * 0.125); /*2px 1.5px 1px*/
  --size-px3: calc(1rem * 0.25); /*4px 3px 2px*/
  --size-px4: calc(1rem * 0.375); /*6px 4.5px 3px*/
  --size-px5: calc(1rem * 0.5); /*8px 6px 4px*/
  --size-px6: calc(1rem * 0.625); /*10px 7.5px 5px*/
  --size-px7: calc(1rem * 0.75); /*12px 9px 6px*/
  --size-px8: calc(1rem * 0.875); /*14px 10.5px 7px*/

  --size-1: calc(1rem * 1); /*16px 12px 8px*/
  --size-1x: calc(1rem * 1.25); /*20px 15px 10px*/
  --size-1x2: calc(1rem * 1.5); /*24px 18px 12px*/
  --size-1x3: calc(1rem * 1.75); /*28px 21px 14px*/

  --size-2: calc(1rem * 2); /*32px 24px 16px*/
  --size-2x: calc(1rem * 2.25); /*36px 27px 18px*/
  --size-2x2: calc(1rem * 2.5); /*40px 30px 20px*/
  --size-2x3: calc(1rem * 2.75); /*44px 33px 22px*/

  --size-3: calc(1rem * 3); /*48px 36px 24px*/
  --size-3x: calc(1rem * 3.25); /*52px 39px 26px*/
  --size-3x2: calc(1rem * 3.5); /*56px 42px 28px*/
  --size-3x3: calc(1rem * 3.75); /*60px 45px 30px*/

  --size-4: calc(1rem * 4); /*64px 48px 32px*/
  --size-4x: calc(1rem * 4.25); /*68px 51px 34px*/

  --size-5: calc(1rem * 5); /*80px 60px 40px*/
  --size-6: calc(1rem * 6); /*96px 72px 48px*/
  --size-7: calc(1rem * 7); /*112px 84px 56px*/
  --size-8: calc(1rem * 8); /*128px 96px 64px*/
  --size-9: calc(1rem * 9); /*144px 108px 72px*/
  --size-10: calc(1rem * 10); /*160px 120px 80px*/
  --size-11: calc(1rem * 11); /*176px 132px 88px*/
  --size-12: calc(1rem * 12); /*192px 144px 96px*/
  --size-13: calc(1rem * 13); /*208px 156px 104px*/
  --size-14: calc(1rem * 14); /*224px 168px 112px*/
  --size-15: calc(1rem * 15); /*240px 180px 120px*/
  --size-16: calc(1rem * 16); /*256px 192px 128px*/
  --size-18: calc(1rem * 18); /*288px 216px 144px*/
  --size-20: calc(1rem * 20); /*320px 240px 160px*/
  --size-24: calc(1rem * 24); /*384px 288px 192px*/
  --size-26: calc(1rem * 26); /*384px 288px 192px*/
  --size-28: calc(1rem * 28); /*384px 288px 192px*/
  --size-30: calc(1rem * 30); /*384px 288px 192px*/
  --size-34: calc(1rem * 34); /*384px 288px 192px*/
  --size-40: calc(1rem * 40); /*384px 288px 192px*/
  --size-44: calc(1rem * 44); /*384px 288px 192px*/
  --size-50: calc(1rem * 50); /*384px 288px 192px*/
}
/**************************************************************************/
/************************** FONTS *****************************************/
/* 
100 - Thin / Hairline / Ultra Light
200 - Extra Light / Ultra Light
300 - Light
400 - Regular / Normal / Book / Roman
500 - Medium
600 - Semi Bold / Demi Bold
700 - Bold
800 - Extra Bold / Ultra Bold
900 - Black / Heavy / Ultra Black
Algunos fabricantes de fuentes también incluyen:
950 - Extra Black / Ultra Black / Super Black
1000 - Maximum Black (menos común) 
*/
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/**************************************************************************/
/************************** BACKGROUNS ************************************/
.cs-bg-blue-400 {
  background-color: var(--bg-blue-400);
}

.cs-bg-green-400 {
  background-color: var(--bg-green-400);
}

.cs-bg-green-wh {
  background-color: #25d366;
}
/**************************************************************************/
/************************** COLORS ************************************/
.cs-color-white {
  color: white;
}
/**************************************************************************/
/************************** TEXT SIZE *************************************/

.cs-text-lg {
  font-size: 1.125rem;
  line-height: calc(1.75 / 1.125);
}
.cs-text-xl {
  font-size: 1.25rem;
  line-height: calc(1.75 / 1.25);
}
.cs-text-xl2 {
  font-size: 1.3rem;
  line-height: calc(1.75 / 1.3);
}
.cs-text-2xl {
  font-size: 1.5rem;
  line-height: calc(2 / 1.5);
}
.cs-text-3xl {
  font-size: 1.875rem;
  line-height: calc(2.25 / 1.875);
}
.cs-text-4xl {
  font-size: 2.25rem;
  line-height: calc(2.5 / 2.25);
}
.cs-text-6xl {
  font-size: 3.75rem;
  line-height: 1;
}
.cs-bold {
  font-weight: bold;
}
.cs-semi-bold {
  font-weight: 600;
}

/**************************************************************************/
/*************************** BUTTON ***************************************/

.cs-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 0.7rem 1.7rem;
  font-size: var(--size-1);
  border-radius: 22px;
  font-weight: 700;
  gap: 0.5rem;
}
