---
import CardImageHorizontal from "@/components/CardImageHorizontal.astro";
import Modal from "@/components/Modal.astro";
import VideoPlayer from "@/components/VideoPlayer.astro";
---

<Modal
  id="modal-platform-live-english-with-native-speakers"
  title="Ingles En Vivo con Nativos"
  showButton={false}
  triggerElements={["course-shield-4"]}
  buttonExitClass="cs-btn cs-bg-blue-400 cs-color-white"
>
  <div class="conversacional-course-content-to-platform">
    <div class="conversacional-course-content-to-platform-video">
      <VideoPlayer
        src="/videos/horizontal-propa-3-optimizado.mp4"
        poster="poster-horizontal.png"
      />
    </div>

    <div class="conversacional-course-content-to-platform-cards">
      <CardImageHorizontal
        urlImage="/icons/icono-ingles-conversacional-up-optimizado.webp"
        title="Inglés En Vivo con Nativos"
        stylesCardContainer="margin-bottom: 0.5rem;"
        hrefUrl="https://virtual.capacitaringlesvirtual.tech/plataforma/course/view.php?id=13"
      />
      <CardImageHorizontal
        urlImage="/icons/icono-ingles-conversacional-up-optimizado.webp"
        title="Inglés Técnico"
        stylesCardContainer="margin-bottom: 0.5rem;"
        hrefUrl="https://virtual.capacitaringlesvirtual.tech/plataforma/course/view.php?id=11"
      />
    </div>
  </div>
</Modal>
