---
import WhatsappIcon from "@/components/icons/WhatsappIcon.astro";
import Modal from "@/components/Modal.astro";
---

<Modal
  id="modal-arts"
  showButton={false}
  triggerElements={["card-arts"]}
  buttonExitClass="cs-btn cs-bg-blue-400 cs-color-white"
>
  <div class="course-modal-cards-content">
    <h2>ARTES</h2>
    <p>
      Despierta el artista interior de niños y adolescentes, ¡sin experiencia
      previa!
    </p>

    <div class="course-cards-content">
      <div class="course-card-item">
        <h3>Artes plásticas</h3>
        <p>
          Artes plásticas para niños y jóvenes: Cursos de dibujo, pintura y
          modelado que estimulan la creatividad, autoestima y expresión
          emocional. Sin experiencia previa, solo ganas de explorar el arte en
          un entorno libre y seguro.
        </p>
        <a
          class="cs-btn cs-bg-green-wh cs-color-white"
          href="https://wa.me/573116771698?text=Hola,%20estoy%20interesado%20en..."
          target="_blank"
        >
          contactanos <WhatsappIcon className="whatsapp-icon" />
        </a>
      </div>
    </div>
  </div>
</Modal>

<style>
  .course-modal-cards-content {
    > .course-cards-content {
      margin: 0 auto;
      > .course-card-item {
        width: 35ch;
      }
    }
  }

  @media (width <= 576px) {
    .course-modal-cards-content {
      > .course-cards-content {
        > .course-card-item {
          width: 100%;
        }
      }
    }
  }
</style>
