---
import WhatsappIcon from "@/components/icons/WhatsappIcon.astro";
import Modal from "@/components/Modal.astro";
---

<Modal
  id="modal-ingles-conversacional-for-kids"
  showButton={false}
  triggerElements={["card-ingles-for-kids"]}
  buttonExitClass="cs-btn cs-bg-blue-400 cs-color-white"
>
  <div class="course-modal-cards-content">
    <h2>INGLÉS PARA NIÑOS</h2>
    <p>
      Una experiencia de aprendizaje del inglés divertida, natural y efectiva
      desde la infancia.
    </p>

    <div class="course-cards-content">
      <div class="course-card-item">
        <div class="card-header">
          <h3>Jardín bilingüe</h3>
          <span>(5 a 6 años de edad)</span>
        </div>
        <p>
          Curso lúdico e inmersivo donde los niños aprenden inglés escuchando y
          jugando. Desarrollan comprensión auditiva y aprenden de forma natural,
          como su lengua materna.
        </p>
        <a
          class="cs-btn cs-bg-green-wh cs-color-white"
          href="https://wa.me/573116771698?text=Hola,%20estoy%20interesado%20en..."
          target="_blank"
        >
          contactanos <WhatsappIcon className="whatsapp-icon" />
        </a>
      </div>

      <div class="course-card-item">
        <div class="card-header">
          <h3>Club de niños bilingües</h3>
          <span>(7 a 9 años de edad)</span>
        </div>
        <p>
          Los niños amplían vocabulario, practican pronunciación y aprenden a
          expresarse en situaciones cotidianas. Objetivo: iniciar la producción
          oral y ganar soltura.
        </p>
        <a
          class="cs-btn cs-bg-green-wh cs-color-white"
          href="https://wa.me/573116771698?text=Hola,%20estoy%20interesado%20en..."
          target="_blank"
        >
          contactanos <WhatsappIcon className="whatsapp-icon" />
        </a>
      </div>

      <div class="course-card-item">
        <div class="card-header">
          <h3>Conversación para Niños</h3>
          <span>(10 a 12 años de edad)</span>
        </div>
        <p>
          Refuerzan la fluidez, piensan en inglés y se comunican con confianza.
          Objetivo: desarrollar pensamiento bilingüe y expresión oral natural,
          con alegría y propósito.
        </p>
        <a
          class="cs-btn cs-bg-green-wh cs-color-white"
          href="https://wa.me/573116771698?text=Hola,%20estoy%20interesado%20en..."
          target="_blank"
        >
          contactanos <WhatsappIcon className="whatsapp-icon" />
        </a>
      </div>
    </div>
  </div>
</Modal>

<style>
  .course-cards-content {
    > .course-card-item {
      > .card-header {
        & h3 {
          font-size: 1.2rem;
          font-weight: 900;
        }

        & span {
          font-size: 0.95rem;
        }
      }
    }
  }
</style>
