---
import CardImageHorizontal from "@/components/CardImageHorizontal.astro";
import Modal from "@/components/Modal.astro";
import VideoPlayer from "@/components/VideoPlayer.astro";
---

<Modal
  id="modal-ingles-virtual-with-live-classes"
  title="Inglés Virtual con Clases en Vivo"
  showButton={false}
  triggerElements={["course-shield-3"]}
  buttonExitClass="cs-btn cs-bg-blue-400 cs-color-white"
>
  <div class="conversacional-course-content-to-platform">
    <div class="conversacional-course-content-to-platform-video">
      <VideoPlayer
        src="/videos/horizontal-propa-3-optimizado.mp4"
        poster="poster-horizontal.png"
      />
    </div>

    <div class="conversacional-course-content-to-platform-cards">
      <CardImageHorizontal
        urlImage="/icons/icono-ingles-conversacional-up-optimizado.webp"
        title="Inglés Cotidiano"
        stylesCardContainer="margin-bottom: 0.5rem;"
        hrefUrl="https://virtual.capacitaringlesvirtual.tech/plataforma/course/view.php?id=9"
      />
      <CardImageHorizontal
        urlImage="/icons/icono-ingles-conversacional-up-optimizado.webp"
        title="Inglés Interactivo"
        stylesCardContainer="margin-bottom: 0.5rem;"
        hrefUrl="https://virtual.capacitaringlesvirtual.tech/plataforma/course/view.php?id=8"
      />
      <CardImageHorizontal
        urlImage="/icons/icono-ingles-conversacional-up-optimizado.webp"
        title="Inglés Fluido"
        stylesCardContainer="margin-bottom: 0.5rem;"
        hrefUrl="https://virtual.capacitaringlesvirtual.tech/plataforma/course/view.php?id=7"
      />
      <CardImageHorizontal
        urlImage="/icons/icono-ingles-conversacional-up-optimizado.webp"
        title="Inglés Avanzado"
        stylesCardContainer="margin-bottom: 0.5rem;"
        hrefUrl="https://virtual.capacitaringlesvirtual.tech/plataforma/course/view.php?id=6"
      />
    </div>
  </div>
</Modal>
