---
import CardImageHorizontal from "@/components/CardImageHorizontal.astro";
import Modal from "@/components/Modal.astro";
---

<Modal
  id="modal-ingles-ninos"
  title="Inglés Para Niños"
  showButton={false}
  triggerElements={["course-shield-2"]}
  buttonExitClass="cs-btn cs-bg-blue-400 cs-color-white"
>
  <div class="conversacional-course-content-to-platform">
    <div class="conversacional-course-content-to-platform-video">
      <video controls>
        <source
          src="/videos/horizontal-propa-3-optimizado.mp4"
          type="video/mp4"
        />
      </video>
    </div>

    <div class="conversacional-course-content-to-platform-cards">
      <CardImageHorizontal
        urlImage="/icons/icono-ingles-conversacional-up-optimizado.webp"
        title="Kindergarten"
        stylesCardContainer="margin-bottom: 0.5rem;"
      />
      <CardImageHorizontal
        urlImage="/icons/icono-ingles-conversacional-up-optimizado.webp"
        title="Bilingual kids club"
        stylesCardContainer="margin-bottom: 0.5rem;"
      />
      <CardImageHorizontal
        urlImage="/icons/icono-ingles-conversacional-up-optimizado.webp"
        title="Kids conversations"
        stylesCardContainer="margin-bottom: 0.5rem;"
      />
    </div>
  </div>
</Modal>

<style>
  .conversacional-course-content-to-platform {
    display: flex;
    max-height: 80vh;
    width: 60vw;
    gap: 2.5rem;

    & .conversacional-course-content-to-platform-video {
      width: 60%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }
    & .conversacional-course-content-to-platform-cards {
      width: 40%;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 0 1rem;
    }
  }
</style>
