---
import CardImageHorizontal from "@/components/CardImageHorizontal.astro";
import WhatsappIcon from "@/components/icons/WhatsappIcon.astro";
import Modal from "@/components/Modal.astro";
---

<Modal
  id="modal-ingles-conversacional"
  showButton={false}
  triggerElements={["card-ingles-conversacional"]}
  buttonExitClass="cs-btn cs-bg-blue-400 cs-color-white"
>
  <div class="conversacional-course-content">
    <h2>INGLÉS CONVERSACIONAL</h2>
    <p>
      Un curso de inglés completo rápido y efectivo, diseñado para llevarte al
      bilingüismo en 3 ciclos.
    </p>

    <div class="conversacional-course-cards-content">
      <div class="conversacional-course-item">
        <h3>Conversación cotidiana</h3>
        <p>
          Aprende inglés para situaciones cotidianas reales, con un enfoque
          práctico y natural. Ideal para comenzar a hablar con confianza en
          casa, el trabajo o la escuela.
        </p>
        <a
          class="cs-btn cs-bg-green-wh cs-color-white"
          href="https://wa.me/573116771698?text=Hola,%20estoy%20interesado%20en..."
          target="_blank"
        >
          contactanos <WhatsappIcon className="whatsapp-icon" />
        </a>
      </div>

      <div class="conversacional-course-item">
        <h3>Conversación interactiva</h3>
        <p>
          Mejora tu comunicación en inglés en contextos comunes como
          entrevistas, reuniones y llamadas. Gana seguridad y fluidez para
          interactuar eficazmente en distintos entornos
        </p>
        <a
          class="cs-btn cs-bg-green-wh cs-color-white"
          href="https://wa.me/573116771698?text=Hola,%20estoy%20interesado%20en..."
          target="_blank"
        >
          contactanos <WhatsappIcon className="whatsapp-icon" />
        </a>
      </div>

      <div class="conversacional-course-item">
        <h3>Conversación fluida</h3>
        <p>
          Expresa ideas con naturalidad y claridad en cualquier situación.
          Supera bloqueos mentales y alcanza un dominio auténtico del inglés con
          confianza y soltura.
        </p>
        <a
          class="cs-btn cs-bg-green-wh cs-color-white"
          href="https://wa.me/573116771698?text=Hola,%20estoy%20interesado%20en..."
          target="_blank"
        >
          contactanos <WhatsappIcon className="whatsapp-icon" />
        </a>
      </div>
    </div>
  </div>
</Modal>

<style>
  .conversacional-course-content {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 55vw;
    padding: 1rem 1.8rem;
    font-size: 1rem;
    > h2 {
      font-family: "Nista";
      font-size: 1.5rem !important;
      color: var(--color-blue-700);
      text-align: center;
    }

    > p {
      margin-bottom: 1.7rem;
      text-align: center;
    }

    & .conversacional-course-cards-content {
      display: flex;
      gap: 1rem;
      > .conversacional-course-item {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        position: relative;
        padding: 0.7rem 0.5rem;
        background: rgba(255, 255, 255, 0.7);
        background-color: rgba(241, 255, 247, 0.2);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        border-radius: 10px;
        border: 2px solid rgba(255, 255, 255, 1);
        border-radius: 22px;
        overflow: hidden;
        --tw-shadow: 0 0 5px 0 rgb(16 30 30 / 10%),
          0 2px 7px 0 rgb(16 30 30 / 15%), 0 4px 4px -2px rgb(16 30 30 / 10%);
        box-shadow:
          0 0 #0000,
          0 0 #0000,
          0 0 #0000,
          0 0 #0000,
          var(--tw-shadow);

        > h3 {
          font-size: 1.2rem;
          font-family: "Nista";
          color: var(--color-blue-700);
        }
      }
    }
  }
</style>
