---

---

<!-- Swiper -->
<div class="swiper swiper-highlights">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img
        src="https://www.els.edu/hubfs/ELS/Website/Homepage/diverse-students-studying-english-els-usa.png"
      />
    </div>
    <div class="swiper-slide">
      <img
        src="https://wpvip.edutopia.org/wp-content/uploads/2022/10/iStock-648946500_master.jpg"
      />
    </div>
    <div class="swiper-slide">
      <img
        src="https://d39eazhratf38c.cloudfront.net/Pictures/1024x536/8/2/7/60827_136864_631984.jpg"
      />
    </div>
    <div class="swiper-slide">
      <img
        src="https://content.twinkl.co.uk/website/uploaded/ellie-blog-thumbnail-1610626054.jpg"
      />
    </div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>

<style>
  .swiper-highlights {
    width: 60%;
    height: 100%;

    --tw-shadow: 0 0 5px 0 rgb(16 30 30 / 10%), 0 2px 7px 0 rgb(16 30 30 / 15%),
      0 4px 4px -2px rgb(16 30 30 / 10%);
    box-shadow:
      0 0 #0000,
      0 0 #0000,
      0 0 #0000,
      0 0 #0000,
      var(--tw-shadow);
    border-radius: 22px;

    & .swiper-wrapper {
      & .swiper-slide {
        border-radius: 22px;
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;

        & img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 22px;
        }
      }
    }
  }
  @media (width <= 1600px) {
    .swiper-highlights {
      width: 70%;
    }
  }
  @media (width <= 800px) {
    .swiper-highlights {
      width: 95%;
    }
  }
</style>

<!-- Initialize Swiper -->
<script>
  // Core de Swiper y estilos
  import Swiper from "swiper";
  import "swiper/css";
  // Módulo Navigation de Swiper y estilos
  import { Autoplay, Navigation, Pagination } from "swiper/modules";
  import "swiper/css/navigation";
  import "swiper/css/pagination";

  var swiper = new Swiper(".swiper-highlights", {
    modules: [Autoplay, Navigation, Pagination],
    loop: true,
    centeredSlides: true,
    slidesPerView: 1,
    spaceBetween: 40,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    autoplay: {
      delay: 2500,
      disableOnInteraction: true,
      pauseOnMouseEnter: true,
    },
  });
</script>
