---
import VideoPlayer from "@/components/VideoPlayer.astro";
---

<!-- Swiper -->
<div class="swiper swiper-video-home">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <VideoPlayer
        src="/videos/horizontal-propa-1-optimizado.mp4"
        poster="poster-propa-1-horizontal.png"
      />
    </div>
    <div class="swiper-slide">
      <VideoPlayer
        src="/videos/horizontal-propa-2-optimizado.mp4"
        poster="poster-propa-2-horizontal.png"
      />
    </div>
    <div class="swiper-slide">
      <VideoPlayer
        src="/videos/horizontal-propa-3-optimizado.mp4"
        poster="poster-propa-3-horizontal.png"
      />
    </div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>

<style>
  .swiper-video-home {
    width: 100%;
    height: 100%;

    & .swiper-wrapper {
      display: flex;
      align-items: center;
      & .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;

        & video {
          border-radius: 22px;
          display: block;
          width: 100% !important;
          height: auto;
          object-fit: cover;
          & source {
            width: 100% !important;
          }
        }
      }
    }
  }
</style>

<!-- Initialize Swiper -->
<script>
  // Core de Swiper y estilos
  import Swiper from "swiper";
  import "swiper/css";
  // Módulo Navigation de Swiper y estilos
  import { Navigation } from "swiper/modules";
  import "swiper/css/navigation";

  var swiper = new Swiper(".swiper-video-home", {
    modules: [Navigation],
    loop: true, // definir si los slides estarán en bucle
    slidesPerView: 1,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
