---
import MapPinIcon from "./icons/MapPinIcon.astro";
import PhoneIcon from "./icons/PhoneIcon.astro";
import InstagramIcon from "./icons/InstagramIcon.astro";
import FacebookIcon from "./icons/FacebookIcon.astro";
import EmailIcon from "./icons/EmailIcon.astro";
import ClockIcon from "./icons/ClockIcon.astro";
---

<footer>
  <div class="footer-logo">
    <img src="/logo.png" />
    <div class="slogan">
      <h2 class="cs-text-3xl cs-bold">CAPACITAR</h2>
      <span class="cs-text-2xl cs-bold">
        Instituto de Inglés, otros Idiomas y Artes
      </span>
    </div>
  </div>

  <div class="footer-info">
    <div>
      <PhoneIcon />
      <p>(+57) 311 6771698</p>
    </div>

    <div>
      <MapPinIcon />
      <p>Cra. 13a #24 A 28, Sincelejo, Sucre</p>
    </div>
    <div>
      <EmailIcon />
      <p>capacitar@gmail.com</p>
    </div>
    <div>
      <ClockIcon />
      <p>Lunes a Sabado de 8:00am a 6:00pm</p>
    </div>
  </div>

  <div class="footer-social">
    <a href="https://www.facebook.com/capacitaringlesvirtual/?locale=es_LA" target="_blank">
      <FacebookIcon className="w-2rem h-2rem" />
    </a>
    <a href="https://www.instagram.com/institutocapacitarsincelejo" target="_blank">
      <InstagramIcon className="w-2rem h-2rem" />
    </a>
  </div>
</footer>

<style>
  footer {
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
    width: 100%;
    background: linear-gradient(25deg, #076460, 20%, var(--bg-blue-700));
    padding: 6rem 2rem;

    .footer-logo {
      width: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      > img {
        height: 16rem;
      }

      & .slogan {
        display: flex;
        flex-direction: column;

        h2,
        span {
          text-align: center;
          color: white;
          font-weight: 900;
        }
      }
    }

    .footer-info {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      color: white;

      div {
        display: flex;
        gap: 1rem;

        > p {
          font-weight: 600;
          text-align: center;
        }
      }
    }

    .footer-social {
      display: flex;
      gap: 1.5rem;
      & a {
        width: 3.5rem;
        height: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1;
        background-color: white;
        padding: 0.8rem;
        border-radius: 100%;
        transition: transform 0.5s ease;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .w-2rem {
      width: 2rem;
      height: 2rem;
    }
  }

  @media (width <= 800px) {
    footer {
      flex-direction: column;
      gap: 2rem;
      justify-content: center;
      align-items: center;
      padding-top: 2rem;

      .footer-logo {
        > img {
          height: 14rem;
        }
      }

      .footer-info {
        div {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          > p {
            font-weight: 600;
          }
        }
      }
    }
  }
</style>
