---
import MousePointerClickIcon from "./icons/MousePointerClickIcon.astro";
---

<header>
  <div class="section-container header">
    <a href="/" class="logo-container">
      <img src="/logo.png" />
      <div class="slogan">
        <h2 class="cs-text-3xl">CAPACITAR</h2>
        <span class="cs-bold">
          Instituto de Inglés, otros Idiomas y Artes
        </span>
      </div>
    </a>
    <div class="options-container">
      <a class="cs-btn button-inscription" href="#"
        >Inscribete aquí <MousePointerClickIcon /></a
      >
      <!-- <MenuIcon /> -->
    </div>
  </div>
</header>

<style>
  header {
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 56px 0px rgba(58, 62, 66, 0.1);
    z-index: 99;
    margin-bottom: var(--size-2);
  }
  header:after {
    content: "";
    inset: 0;
    position: absolute;
    z-index: -1;
    backdrop-filter: blur(15px) ;
  }
  .header {
    margin-bottom: 0;
    height: 5.1rem;
    padding: 0.5rem 0;
    justify-content: space-between;
    align-items: center;

    .logo-container {
      display: flex;
      align-items: center;
      gap: 1rem;
      height: 100%;
      img {
        height: 100%;
      }

      .slogan {
        display: flex;
        flex-direction: column;
        gap: 0;
        > h2 {
          font-weight: 700;
        }
        > span {
          font-size: 1.25rem;
          line-height: 0.8;
        }
      }
    }

    .options-container {
      display: flex;
      align-items: center;
      gap: 1rem;

      & a {
        font-weight: 600;
      }

      & .button-inscription {
        font-weight: 700;
        background: rgb(58, 202, 255);
        background: linear-gradient(
          28deg,
          rgba(58, 202, 255, 0.7) 30%,
          rgba(128, 237, 153, 0.9) 100%
        );
      }
    }
  }

  @media (width <= 576px) {
    .header {
      width: 98%;
      height: 7rem;
      .logo-container {
        img {
          height: 80%;
        }
        .slogan {
          span {
            margin-top: -4px;
            font-size: 1rem;
          }
        }
      }
    }
  }
</style>
