---
import MenuIcon from "./icons/MenuIcon.astro";
import MousePointerClickIcon from "./icons/MousePointerClickIcon.astro";
---

<header>
  <div class="header">
    <a href="/" class="logo-container">
      <img src="/logo.png" />
      <div class="slogan">
        <h2 class="cs-text-3xl cs-bold">
          Instituto de Inglés, otros Idiomas y Artes
        </h2>
        <h2 class="cs-text-2xl cs-bold">CAPACITAR</h2>
      </div>
    </a>
    <div class="options-container">
      <a href="/">Inicio</a>
      <a href="/mision-vision">Misión/visión</a>
      <a href="/">Metodologia</a>
      <a class="cs-btn button-inscription" href="#">Inscribete aquí <MousePointerClickIcon /></a>
      <!-- <MenuIcon /> -->
    </div>
  </div>
</header>

<style>
  header {
    position: sticky;
    top: 0;
    background-color: var(--bg-white);
    box-shadow: 0 4px 56px 0px rgba(58, 62, 66, 0.1);
    z-index: 999;
  }
  .header {
    display: flex;
    height: 90px;
    max-width: 180ch;
    padding: 1rem 0;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    

    .logo-container {
      display: flex;
      align-items: center;
      gap: 1rem;
      height: 100%;
      img {
        height: 140%;
      }

      .slogan {
        display: flex;
        flex-direction: column;

        h2 {
          font-family: "Nista", "Times New Roman", Times, serif;
          font-weight: 900;
        }
      }
    }

    .options-container {
      display: flex;
      align-items: center;
      gap: 1rem;

      & a {
        font-weight: 600;
      }

      & .button-inscription {
        font-weight: 700;
        background: rgb(58, 202, 255);
        background: linear-gradient(
          28deg,
          rgba(58, 202, 255, 0.7) 30%,
          rgba(128, 237, 153, 0.9) 100%
        );
      }
    }
  }
</style>
